* {
  margin: 0;
  padding: 0;
}

textarea {
  width: calc(50% - 10px);
  height: calc(100vh - 8px);
  resize: none;
  font-family: monospace;
  font-size: 1em;
  padding: 2px;
  border: 0px;
  border-right: 1px solid #333;
  display: inline-block;
}

.report {
  width: calc(50% - 10px);
  height: calc(100vh - 14px);
  display: inline-block;
  padding: 5px;
}

.error {
  background-color: #ffd2d2;
  color: #d8000c;
  border: 1px solid #d8000c;
  margin-bottom: 5px;
  padding: 5px;
}

.warning {
  background-color: #feefb3;
  color: #9f6000;
  border: 1px solid #9f6000;
  margin-bottom: 5px;
  padding: 5px;
}

.root {
  display: flex;
}
